.toolbar {

    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    font-family: "Courier New", sans-serif;
}

.left-toolbar {

    display: flex;
    align-items: center;
    width: 100%;
}

.right-toolbar {

    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.center-toolbar {

  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 1.1rem;
}

.center-toolbar > label {
  margin: 0 1rem;
}

.center-toolbar > option {
  font-family: "Courier New", sans-serif;
}


.hover-class:hover {

    background-color: red;
 }

 .active {
    background-color: red; 
    color: white; 

 }

 .tooltip {
    position: relative;
    display: inline-block;
   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .vertical-line {
    height: 30px;
    width: 2px;
    background-color: black; 
    border-radius: 6rem;
    margin: 1rem;

}


