.toolbar {

  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  font-family: "Courier New", sans-serif;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.hover-class:hover {

  background-color: red;
}

 .active {
    background-color: red; 
    color: white; 

 }

 .inactive {
  background-color: rgb(139, 136, 136); 
  color: rgb(0, 0, 0); 
}

  .inactive:hover{
  background-color: rgb(139, 136, 136) !important; 

  } 

 .tooltip {
    position: relative;
    display: inline-block;
   
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


.vertical-line {
  height: 30px;
  width: 1px;
  background-color: rgb(211, 211, 211); 
  border-radius: 6rem;
  margin: 1rem;

}
.selected {
  color: red;
}

.selected:hover {
  color: rgb(240, 240, 240);
}

.drawing{
  display: flex; 
  align-items: center; 
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding: 0 1.5rem;

}

mat-icon{
  text-align: center;
}