<mat-toolbar class ="toolbar">

    <button  mat-icon-button
        class="hover-class"
        [class.active]="circleActiveColor"
        (click)="toggleCircleButton()">
        <mat-icon>panorama_fish_eye</mat-icon>
    </button>

    <button mat-icon-button
        class="hover-class"
        [class.active]="rectActiveColor"
        (click)="toggleRectangleButton()">
        <mat-icon>crop_portrait</mat-icon>
    </button>

    <button  mat-icon-button
        class="hover-class"
        [class.active]="arrowActiveColor"
        (click)="toggleArrowButton()">
        <mat-icon>north_east</mat-icon>
    </button>

    <button  mat-icon-button
        class="hover-class"
        [class.active]="boltActiveColor"
        (click)="toggleBoltButton()">
        <mat-icon>bolt</mat-icon>
    </button>

    <button  mat-icon-button
        class="hover-class"
        (click)="onButtonClick('deleteLast')">
        <mat-icon>delete</mat-icon>
    </button>

    <button  mat-icon-button
        class="hover-class"
        (click)="onButtonClick('clear')">
        <mat-icon>clear</mat-icon>
    </button>

    <!--<button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>import_export</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>-->

    <button mat-button [matMenuTriggerFor]="import_export">
        <mat-icon>import_export</mat-icon>
    </button>
    <mat-menu #import_export="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="import">Import</button>
        <button mat-menu-item [matMenuTriggerFor]="export">Export</button>
    </mat-menu>

    <mat-menu #import="matMenu">
        <button mat-menu-item>PNML</button>
        <button mat-menu-item>JSON</button>
    </mat-menu>

    <mat-menu #export="matMenu">
        <button mat-menu-item (click)="exportPnml()">PNML</button>
        <button mat-menu-item (click)="exportJson()">JSON</button>
        <button mat-menu-item (click)="exportPng()">PNG</button>
        <button mat-menu-item (click)="exportSvg()">SVG</button>
    </mat-menu>

</mat-toolbar>

